{% extends 'base/base-login.html' %}

{% block head %}

<title>Community</title>

<style>
    body {
        font-family: Arial, sans-serif;
        box-sizing: border-box;
        background-color: #fefbea;
        margin: 0;
        padding: 0;
    }

    main {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 150px);
        padding: 5px;
        flex-wrap: wrap;
    }

    section {
        background-color: white;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

    .joined-communities {
        flex: 2;
        margin-right: 1rem;
    }

    .suggested-communities {
        flex: 1;
        margin-right: 10vw;
    }

    h2 {
        border-bottom: 2px solid #4CAF50;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        font-size: 1.75rem;
    }

    .community {
        background-color: #fefbea;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .community:last-child {
        margin-bottom: 0;
    }

    .community:hover {
        transform: translateY(-10px);
        cursor: pointer;
    }

    .my_community {
        width: 45vw;
        min-width: 500px;
    }

    .suggested_community {
        width: 20vw;
        min-width: 300px;
    }

    h3 {
        margin-top: 0;
        font-size: 1.5rem;
        color: #4CAF50;
    }

    p {
        margin: 0.5rem 0;
        font-size: 1rem;
        line-height: 1.5;
    }

    .members-count {
        font-size: 1rem;
        color: #555;
        margin-top: 0.5rem;
    }

    .join-btn {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;
        margin-top: 0.5rem;
    }

    .join-btn:hover {
        background-color: #45a049;
    }

    @media (max-width: 768px) {
        main {
            flex-direction: column;
        }

        .joined-communities, .suggested-communities {
            width: 100%;
            margin-right: 0;
        }
    }

    .joined-communities .community .members-count {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .suggested-communities .community .members-count {
        position: static;
        margin-top: 0.5rem;
    }

    .row-container {
        display: flex;
        flex-wrap: wrap;
        width: 1800px;
    }

    .no-comm-up{
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }
    .no-comm-down{
        margin-top: 10px;
        font-size: 1.1rem;
        font-weight: 400;
        color: #8a8a8a;
        text-align: center;
    }

</style>

{% endblock %}

{% block body %}

<body>
    <main>
        <div class="row-container">
            <section class="joined-communities">
                <h2>{{ labels['My_Community'] }}</h2>
                {% if my_comm_list[0] %}
                    {% for i in my_comm_list %}
                    <div class="community" onclick="window.location.href='/community/comm?id={{i.community_id}}'">
                        <h3 class="community-name">{{i.community_name}}</h3>
                        <span class="members-count"><strong>{{ labels['Members'] }} : </strong>{{i.number_members}}</span>
                        <p>{{i.community_desc}}</p>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="no-comm-up">{{ labels['No_Comm_up'] }}</div>
                    <div class="no-comm-down">{{ labels['No_Comm_down'] }}</div>
                {% endif %}
            </section>
            <section class="suggested-communities">
                <h2>{{ labels['Suggested'] }}</h2>
                {% for i in sug_comm_list%}
                <div class="community">
                    <h3 class="community-name">{{i.community_name}}</h3>
                    <p>{{i.community_desc}}</p>
                    <span class="members-count"><strong>{{ labels['Members'] }} : </strong>{{i.number_members}}</span>
                    <button class="join-btn" onclick="window.location.href='/community/join?id={{i.community_id}}'">{{ labels['Join'] }}</button>
                </div>
                {% endfor %}
                </div>
            </section>
        </div>
    </main>
</body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
        if ('{{category}}' === "error")
        {
            switch ('{{message}}') {
            case "ERR_CODE:FAILED_TO_JOIN_COMM":
                alert("{{ labels['Alert_Error'] }}")
                break;
            
            default:
                break;
            }
        }
        else if ('{{category}}' === "success")
        {
            switch ('{{message}}') {
            case "SUC_CODE:JOINED_COMM":
                alert("{{ labels['Alert_Success_Join'] }}")
                break;

                case "SUC_CODE:LEAVED_COMM":
                alert("{{ labels['Alert_Success_Leave'] }}")
                break;
            
            default:
                break;
            }
        }
        </script>
        {% endfor %}
    {% endif %}
    {% endwith %}

<script>
</script>

{% endblock %}


</html>