{% extends 'base/base-login.html' %}

{% block head %}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #fefbea;
    }

    .h1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #deddc6;
        width: 150px;
        padding: 1.5rem;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .h2 {
        margin: 0;
        color: rgb(0, 0, 0);
        font-size: 2rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 10px 20px 20px;
        padding: 20px;
        width: 35vw;
        min-width: 400px;
    }

    .post {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .post-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .post:hover {
        background-color: #d6d3c2;
        cursor: pointer;
    }

    .post-header {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 12px;
    }

    .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .post-id {
        font-weight: bold;
    }

    .post-body {
        margin-bottom: 10px;
        margin-right: 35px;
    }

    .foot-container {
        background-color: inherit;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .foot-container img {
        margin-left: 8px;
        margin-right: 2px;
        width: 20px;
        height: 20px;
    }

    .pagination {
        display: flex;
        justify-content: center;
    }

    .pagination ul {
        list-style: none;
        padding: 0;
        display: flex;
    }

    .pagination li {
        margin: 0 5px;
    }

    .pagination li a {
        text-decoration: none;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #333;
        cursor: pointer;
    }

    .pagination li a:hover{
        background-color: #d6d3c2;
    }

    .pagination li a {
        text-decoration: none;
        padding: 5px 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #333;
        font-size: 25px;
        font-weight: 450;
    }
    .add-post-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        float: inline-end;
        margin-top: 0;
    }
    .leave-btn {
        background-color: #a9211c;
        color: white;
        border: none;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;
        margin-top: 0.5rem;
    }
    .no-post{
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }
    .btn-container{
        align-items: end;
    }
</style>

{% endblock %}

{% block body %}

<body>
    <div class="h1">
        <h2>{{comm.community_name}}</h2>
        <button class="leave-btn" onclick=leave_comm()>{{ labels['Leave_Community'] }}</button>
    </div>
    <div class="container">
        <div class="btn-container">
            <img src="../static/add.png" alt="Add Post Icon" class="add-post-icon" onclick="location.href='add-post?id={{comm.community_id}}'">
        </div>
        <div class="post-container">
        {% if comm_post_list[0] %}
            {% for i in comm_post_list %}
                <div class="post" onclick="location.href='post?cid={{comm.community_id}}&pid={{i.c_post_id}}'">
                    <div class="post-header">
                        <img src="..\static\profile.png" alt="Profile Picture" class="profile-picture">
                        <span class="post-id">{{i.writer_name}}</span>
                    </div>
                    <div class="post-body">
                        {{i.content[:50]}}
                    </div>
                    <div class="foot-container">
                        <img src="..\static\like.png">
                        {{i.number_like}}
                        </img>
                        <img src="..\static\comment.png">
                        {{i.number_comments}}
                        </img>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="no-post">{{ labels['No_Post'] }}</div>
        {% endif %}
        </div>
        <div class="pagination">
            <ul>
                {% for i in range(pagination_start,pagination_end+1) %}
                    {% if i == current_page %}
                    <li><a onclick="location.href='comm?id={{comm.community_id}}&pages={{i}}'" class="current_page">{{i}}</a></li>
                    {% else %}
                    <li><a onclick="location.href='comm?id={{comm.community_id}}&pages={{i}}'">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

<script>
    function leave_comm(){
        if (confirm('{{ labels["Leave_Community_confirm"] }}')) {
            window.location.href='/community/leave?id={{comm.community_id}}'
        }
    }
</script>

{% endblock %}

</html>