<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        body {
            background-color: #fefbea;
        }
    </style>
</head>

<body>
    <header>
        <div class="left-container">
            <div class="logo">whyAlba</div>
        </div>
        <div class="right-container">
            <a href="/signup">
                <button id="sign_up" class="signup-btn">Sign Up</button>
            </a>
            <a href="/">
                <button id="log_in"class="login-btn">Log in</button>
            </a>
            <div class="dropdown">
                <select id="languageSelector">
                    <option value="en">English</option>
                    <option value="ko">한국어</option>
                    <!-- Add other language options here -->
                </select>
            </div>
        </div>
    </header>    
    
    {% block body %}{% endblock %}

    <!-- <script src="../static/js/script.js"></script>
    -->
</body>
</html>
