{% extends 'base.html' %}

{% block head %}

<style>
    .profile {
        font-family: Arial, sans-serif;
        background-color: #fefbea;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .profile-container {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 300px;
        padding: 20px;
        text-align: center;
    }

    .profile-container h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .profile-container img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .profile-container p {
        margin: 0;
        font-size: 14px;
        color: #777;
        margin-bottom: 20px;
    }

    .profile-container .element {
        margin-bottom: 15px;
        text-align: left;
    }

    .profile-container .element-center {
        text-align: center;
    }

    .profile-container .element label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .profile-container .element select,
    .profile-container .element input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #0000EE;
        border-radius: 4px;
    }

    .profile-container .element-center input[type="file"] {
        border: none;
        display: inline-block;
        text-align: center;
    }

    .profile-container button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }

    .profile-container button:hover {
        background-color: #0056b3;
    }
</style>

{% endblock %}

{% block body %}

<body>
    <div class="profile">
        <form class="profile_form" method="post" enctype="multipart/form-data">
            <div class="profile-container">
                <h1>Create your profile</h1>
                
                <div class="element-center">
                    <img id="profile_preview" src="#" alt="Profile Photo Preview" style="display:none;">
                    <input type="file" id="profile_photo" name="profile_photo" accept="image/*" onchange="previewPhoto();">
                    <p>Upload Profile Photo</p>
                </div>
                
                <div class="element">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                </div>
                
                <div class="element">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender">
                        <option value="" disabled selected>Choose your gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                
                <div class="element">
                    <label for="language">Language</label>
                    <select id="language" name="language">
                        <option value="" disabled selected>Choose your first language</option>
                        <option value="한국어">한국어</option>
                        <option value="English">English</option>
                    </select>
                </div>
                
                <div class="element">
                    <label for="city">City</label>
                    <select id="city" name="city">
                        <option value="" disabled selected>Choose your location</option>
                        <option value="Seoul">Seoul</option>
                        <option value="Suwon">Suwon</option>
                        <option value="Incheon">Incheon</option>
                    </select>
                </div>
                
                <button type="submit">Create</button>
            </div>
        </form>
    </div>

    <script>
        function previewPhoto() {
            var file = document.getElementById('profile_photo').files[0];
            var reader = new FileReader();
            
            reader.onloadend = function() {
                var preview = document.getElementById('profile_preview');
                preview.src = reader.result;
                preview.style.display = 'block';
            }
            
            if (file) {
                reader.readAsDataURL(file);
            } else {
                var preview = document.getElementById('profile_preview');
                preview.src = "#";
                preview.style.display = 'none';
            }
        }
    </script>
</body>

{% endblock %}

</html>
