{% extends 'base/base.html' %}

{% block body %}

<body>
    <div class="login-container">
        <img src="..\static\logo.png" class="logo" alt="Logo">
        <form class="login-form" method="post">
            <input type="text" name="Username" placeholder="{{ labels['ID'] }}" required>
            <input type="password" name="Password" placeholder="{{ labels['Password'] }}" required>
            <button type="submit">{{ labels['Login'] }}</button>
            <button type="button" id="signupButton">{{ labels['Sign_up'] }}</button>
        </form>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <script>
            console.log("asdfas")
            if ('{{category}}' === "success")
            {
                switch ('{{message}}') {
                // create profile에서 발생한 메세지
                case "SUC_CODE:SIGNUP_SUCCEEDS":
                    alert("{{ labels['Alert_Success'] }}")
                    break;
                
                default:
                    break;
                }
            }
            </script>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <script>
        document.getElementById('signupButton').addEventListener('click', function() {
            window.location.href = 'signup';
        });
    </script>
</body>

{% endblock %}

</html>
