{% extends 'base.html' %}

{% block body %}

<body>
    <div class="login-container">
        <div class="logo">App Logo</div>
        <form class="login-form">
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <a href="signup.html" class="create-account-link">or create an account</a>
    </div>

    <script src="script.js"></script>
</body>

{% endblock %}

</html>
