{% extends 'base.html' %}

{% block body %}

<body>
    <div class="login-container">
        <div class="logo">{{ labels['App_Logo'] }}</div>
        <form class="login-form" method="post">
            <input type="text" name="Username" placeholder="{{ labels['ID'] }}" required>
            <input type="password" name="Password" placeholder="{{ labels['Password'] }}" required>
            <button type="submit">{{ labels['Login'] }}</button>
        </form>
        {% if message %}
            <div class='container'>
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            </div>
        {% endif %}
        <a href="signup" class="create-account-link">{{ labels['Create_Account_Link'] }}</a>
    </div>

    <!---<script src="script.js"></script>-->
</body>

{% endblock %}

</html>
