</header>
<nav>
    <button class="active">All</button>
    <button>Sent</button>
    <button>Unread</button>
    <button>Archived</button>
</nav>
<main>
    <div class="chat">
        <div class="profile-pic">👤</div>
        <div class="chat-info">
            <div class="name-time">
                <span class="name">모무매모무매</span>
                <span class="time">4d</span>
            </div>
            <p>혹시 아직 있나요?</p>
        </div>
    </div>
    <div class="chat">
        <div class="profile-pic">👤</div>
        <div class="chat-info">
            <div class="name-time">
                <span class="name">크크크</span>
                <span class="time">1w</span>
            </div>
            <p>혹시 진행 하셨을까요? ㅎㅎ</p>
        </div>
    </div>
    <div class="chat">
        <div class="profile-pic">👤</div>
        <div class="chat-info">
            <div class="name-time">
                <span class="name">미녀</span>
                <span class="time">1w</span>
            </div>
            <p>내 보냈어요!</p>
        </div>
    </div>
    <div class="chat">
        <div class="profile-pic">👤</div>
        <div class="chat-info">
            <div class="name-time">
                <span class="name">남준혁</span>
                <span class="time">2w</span>
            </div>
            <p>네 문서가 보냈어요.</p>
        </div>
    </div>
    <div class="chat">
        <div class="profile-pic">👤</div>
        <div class="chat-info">
            <div class="name-time">
                <span class="name">gram</span>
                <span class="time">2w</span>
            </div>
            <p>알바 잘 하셨나요?</p>
        </div>
    </div>
</main>
