{% extends 'base-login.html' %}

{% block head %}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #fefbea;
    }

    .edit-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 30px;
    }

    .profile-container {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 300px;
        padding: 20px;
        text-align: center;
    }   

    .profile-container h1 {
        font-size: 24px;
        margin: 10px;
    }

    .profile-container h2 {
        font-size: 20px;
        margin: 10px;
    }

    .profile-container img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .profile-container p {
        margin-bottom: 20px;
        font-size: 14px;
        color: #000000;
    }

    .profile-container .element {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

    .profile-container .element label {
        font-size: 14px;
        width: 70px;
        text-align: left;
        padding-right: 5px;
    }

    .profile-container .element .colon {
        font-size: 14px;
        text-align: left;
    }

    .profile-container .element input,
    .profile-container .element select {
        font-size: 14px;
        text-align: left;
        margin-left: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: calc(100% - 85px);
    }

    .profile-container button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }

    .profile-container button:hover {
        background-color: #0056b3;
    }

</style>

{% endblock %}

{% block body %}

<body>
    <form class="edit-profile" method="post">
        <div class="profile-container">
            <h1>{{ labels['My_Profile'] }}</h1>
            <img src="..\static\hehe.jpg" alt="{{ labels['Profile_Photo'] }}">
            <h2>{{ name }}</h2>
            <p>{{ country }}</p>
            <div class="element">
                <label for="name">{{ labels['Name'] }}</label><span class="colon">:</span><input type="text" id="name" name="name" value="{{ name }}">
            </div>
            <div class="element">
                <label for="gender">{{ labels['Gender'] }}</label><span class="colon">:</span>
                <select id="gender" name="gender">
                    <option value="Male" selected>{{ labels['Male'] }}</option>
                    <option value="Female">{{ labels['Female'] }}</option>
                    <option value="Other">{{ labels['Other'] }}</option>
                </select>
            </div>
            <div class="element">
                <label for="language">{{ labels['Language'] }}</label><span class="colon">:</span>
                <select id="language" name="language">
                    <option value="English" selected>{{ labels['English'] }}</option>
                    <option value="Spanish">{{ labels['Spanish'] }}</option>
                    <option value="French">{{ labels['French'] }}</option>
                    <option value="Chinese">{{ labels['Chinese'] }}</option>
                    <option value="German">{{ labels['German'] }}</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="element">
                <label for="city">{{ labels['City'] }}</label><span class="colon">:</span>
                <select id="city" name="city">
                    <option value="Seoul">{{ labels['Seoul'] }}</option>
                    <option value="Suwon">{{ labels['Suwon'] }}</option>
                    <option value="Incheon">{{ labels['Incheon'] }}</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <a href="/my_profile">
                <button>{{ labels['Save'] }}</button>
            </a>
        </div>
    </form>
</body>

{% endblock %}

</html>
