{% extends 'base.html' %}

{% block body %}

<body>
  <form class="signup-form" name="signup_form" method="post">
    <div class="signup-container">
      <div class="logo">{{ labels['Sign_Up'] }}</div>
      <div class="form-group">
        <label for="id">{{ labels['ID'] }}</label>
        <input type="text" id="id" name="id" placeholder="{{ labels['ID_Placeholder'] }}">
        <small>{{ labels['ID_Hint'] }}</small>
      </div>
      <div class="form-group">
        <label for="email">{{ labels['Email_Address'] }}</label>
        <input type="email" id="email" name="email" placeholder="{{ labels['Email_Placeholder'] }}">
      </div>
      <div class="form-group">
        <label for="password">{{ labels['Password'] }}</label>
        <input type="password" id="password" name="password" placeholder="{{ labels['Password_Placeholder'] }}">
        <small>{{ labels['Password_Hint'] }}</small>
      </div>
      <div class="form-group">
        <label for="confirm-password">{{ labels['Confirm_Password'] }}</label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="{{ labels['Confirm_Password_Placeholder'] }}">
      </div>
      <div class="form-group">
        <label for="country">{{ labels['Country'] }}</label>
        <select id="country" name="country">
          <option value="South Korea">{{ labels['South_Korea'] }}</option>
          <option value="Malaysia">{{ labels['Malaysia'] }}</option>
          <option value="Myanmar">{{ labels['Myanmar'] }}</option>
          <option value="Australia">{{ labels['Australia'] }}</option>
          <!-- Add more options as needed -->
        </select>
      </div>
      <button type="button" class="sign-up-btn" onclick="checkSignUp()">{{ labels['Sign_Up_Button'] }}</button>
    </div>
  </form>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
          if ('{{category}}' === "error")
          {
            switch ('{{message}}') {
              case "ERR_CODE:EXIST_ID":
                alert("{{ labels['ID_Exists_Alert'] }}")
                break;

              // create profile에서 발생한 메세지
              case "ERR_CODE:USER_INFO_LOST":
                alert("{{ labels['Alert_Error'] }}")
                break;

              case "ERR_CODE:FAILED_TO_PUSH_DB":
                alert("{{ labels['Alert_Error'] }}")
                break;

              default:
                break;
            }
          }
        </script>
        {% endfor %}
    {% endif %}
  {% endwith %}
  <script>
      // document.addEventListener('DOMContentLoaded', function() {
      //     //var flashMessages = get_flashed_messages(with_categories=true);

      //     flashMessages.forEach(function([category, message]) {
      //       console.log(message);
      //       switch (message) {
      //         case "ERR_CODE:EXIST_ID":
      //           alert("이미 사용중인 아이디입니다.")
      //           break;
            
      //         default:
      //           break;
      //       }
      //       });
      //   });

    function checkSignUp(){
      var id = document.querySelector('input[name="id"]').value;
      var email = document.querySelector('input[name="email"]').value;
      var password = document.querySelector('input[name="password"]').value;
      var password_c = document.querySelector('input[name="confirm-password"]').value;

      // Empty test
      var isEmpty = (id === '') || (email === '') || (password === '') || (password_c === '');
      if(isEmpty){
        alert("{{ labels['Empty_Field_Alert'] }}");
        return;
      }
      
      // ID test
      var usernameRegex = /^[a-zA-Z0-9_-]{6,16}$/;
      if (!usernameRegex.test(id)) {
        alert("{{ labels['Invalid_ID_Alert'] }}");
        return;
      }

      // Password test
      var passwordRegex = /^(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,20}$/;
      if (!passwordRegex.test(password)) {
        alert("{{ labels['Invalid_Password_Alert'] }}");
        return;
      }
      if (!(password === password_c)) {
        alert("{{ labels['Password_Mismatch_Alert'] }}");
        return;
      }

      document.signup_form.submit();
    }    
  </script>
</body>

{% endblock %}

</html>
