{% extends 'base.html' %}

{% block body %}

<body>
  <form class="signup-form" name="signup_form" method="post">
    <div class="signup-container">
      <div id="sign_up_logo" class="logo">{{ labels['Sign_Up'] }}</div>
      <div class="form-group">
        <label id="id_label" for="id">{{ labels['ID'] }}</label>
        <input type="text" id="id" name="id" placeholder="{{ labels['ID_Placeholder'] }}">
        <small id="char_limit">{{ labels['Username_Hint'] }}</small>
      </div>
      <div class="form-group">
        <label id="email_label" for="email">{{ labels['Email_Address'] }}</label>
        <input type="email" id="email" name="email" placeholder="{{ labels['Email_Placeholder'] }}">
      </div>
      <div class="form-group">
        <label id="password_label" for="password">{{ labels['Password'] }}</label>
        <input type="password" id="password" name="password" placeholder="{{ labels['Password_Placeholder'] }}">
        <small id="password_length">{{ labels['Password_Hint'] }}</small>
      </div>
      <div class="form-group">
        <label id="confirm_pw_label" for="confirm-password">{{ labels['Confirm_Password'] }}</label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="{{ labels['Confirm_Password_Placeholder'] }}">
      </div>
      <div class="form-group">
        <label id="country_label" for="country">{{ labels['Country'] }}</label>
        <select id="country" name="country">
          <option id="south_korea" value="South Korea">{{ labels['South_Korea'] }}</option>
          <option id="malaysia" value="Malaysia">{{ labels['Malaysia'] }}</option>
          <option id="myanmar" value="Myanmar">{{ labels['Myanmar'] }}</option>
          <option id="australia" value="Australia">{{ labels['Australia'] }}</option>
          <!-- Add more options as needed -->
        </select>
      </div>
      <button id="sign_up_btn" type="button" class="sign-up-btn" onclick="checkSignUp()">{{ labels['Sign_Up_Button'] }}</button>
    </div>
  </form>
    
  <script>
    if ('{{idfailed}}')
      alert("{{ labels['ID_Exists_Alert'] }}");

    function checkSignUp(){
      var id = document.querySelector('input[name="id"]').value;
      var email = document.querySelector('input[name="email"]').value;
      var password = document.querySelector('input[name="password"]').value;
      var password_c = document.querySelector('input[name="confirm-password"]').value;

      // Empty test
      var isEmpty = (id === '') || (email === '') || (password === '') || (password_c === '');
      if(isEmpty){
        alert("{{ labels['Empty_Field_Alert'] }}");
        return;
      }
      
      // ID test
      var usernameRegex = /^[a-zA-Z0-9_-]{6,16}$/;
      if (!usernameRegex.test(id)) {
        alert("{{ labels['Invalid_ID_Alert'] }}");
        return;
      }

      // Password test
      var passwordRegex = /^(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,20}$/;
      if (!passwordRegex.test(password)) {
        alert("{{ labels['Invalid_Password_Alert'] }}");
        return;
      }
      if (!(password === password_c)) {
        alert("{{ labels['Password_Mismatch_Alert'] }}");
        return;
      }

      document.signup_form.submit();
    }    
  </script>
  
</body
